/* style.css */

body {
    background-color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Courier, monospace, Helvetica, sans-serif;
    font-size: large;
    color: rgb(70, 31, 74);
}
a {
    font-style: italic;
}
